.container {
    display: flex;
    min-width: var(--content-width);
    min-height: var(--content-height);
    background-color: #aeaeae;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    border-radius: 10px;
}