.Game {
    width: var(--game-width);
    display: flex;
    align-items: center;
    justify-content: center;
}

.topleft {
    position: absolute;
    top: 10px;
    left: 10px;
}

.spoke {
    image-rendering: pixelated;
}