.Link {
    text-decoration: none;
    font-family: var(--main-font);
    font-size: var(--title-size);
}

.menu {

    text-shadow: 1px 1px 1px #000;

    &:link, &:visited {
        color: rgb(182, 0, 0);
    }

    &:hover {
        text-decoration: underline;
    }

}

.back {
    background-color: darkslategrey;
    border-style: solid;
    color: tomato;
    padding: 5px;

    &:hover {
        background-color: #243d3d;
    }
}

.title {
    font-size: 16px;
    text-shadow: 1px 1px 1px red;
    
    &:visited, &:link {
        color: black;
    }

    &:hover {
        text-decoration: underline;
    }
}



