.Link {
    text-decoration: none;
    font-family: var(--main-font);
    font-size: var(--title-size);
}

.menu {
    &:link {
        color: tomato;
    }

    &:hover {
        text-decoration: underline;
    }

    &:visited {
        color: tomato;
    }
}

.back {
    background-color: darkslategrey;
    border-style: solid;
    color: tomato;
    padding: 5px;

    &:hover {
        background-color: #243d3d;
    }
}



